* {
margin: 0;
padding: 0;
}

.logo {
    object-fit: contain;
    max-width: 100%;
    filter: drop-shadow(0 0 0.5rem darkred);
    margin: 0.5rem 0 0.5rem 1rem;
    min-width: 10vh;
}

h1 {
    display: none;
}

nav {
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}

nav>a {
    border-radius: 0 !important;
    color:grey !important;
    background-color: rgba(30,30,30,0.6) !important;
}

nav>a:hover {
    background-image: none;
    background-color: rgba(50,50,50,1) !important;
    text-shadow: 0px 0px 15px white;
    color:white !important;
}

nav>a[href="#"] {
    text-shadow: 0px 0px 15px white;
    color:white !important;
} 

a {
    color:deeppink;
    border-radius: 0;
}

.card-img-top {
    height: 8rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0;
    padding: 5px;
}

.card {
    border-image: linear-gradient(0.25turn, deeppink,  crimson) 1;
    width: 12rem;
    padding: 0;
    margin: 10px 0;
    background-color: rgba(30,30,30,0.6) !important;
}

.row {
    justify-content: space-evenly;
    --bs-gutter-x: 0 !important;
    /* width: auto !important; */
}

.crazyborder {
    border-image: linear-gradient(0.25turn, deeppink,  crimson) 1 !important;
}

main {
    background-image: url("../assets/background.png");
}

.btn {
    border-radius: 0;
    background-color: rgba(30,30,30,1);
}

.btn:hover {
    text-shadow: 0px 0px 15px white;
    color:white !important;
}

p {
    margin-bottom: 0;
}

.crazybackground {
    background-image: linear-gradient(0.25turn, deeppink,  crimson) !important;
    height: 1px;
}

.logoback {
    background-image: url("../assets/background.png");
}

.tcenter, .card-title, .card-text {
    text-align: center;
}

h2 {
    margin-bottom: 0;
    padding: 15px;
}

.glass {
    background-color: rgba(0,0,0,0.6) !important;
}

.colcenter {
    justify-content:space-evenly;
    align-items: flex-end;
    display: inline-flex;
}

.hcolleft {
    justify-content:flex-start;
    align-items:center;
    display: inline-flex;
    padding-left: 20px;
}

.hcolright {
    justify-content:flex-end;
    align-items:center;
    display: inline-flex;
    padding-right: 20px;
}

.colleft {
    justify-content:flex-end;
    align-items:center;
    display: inline-flex;
    padding: 5px;
}

.colright {
    justify-content:flex-start;
    align-items:center;
    display: inline-flex;
    padding: 5px;
}

footer img {
    max-width: 4rem;
    margin: 10px;
    display: inline-flex;
}

.h-img {
    max-width: 3rem;
    opacity: 0;
}

.h-img:hover {
    opacity: 1;
}

label {
    margin-right: 5px;
}

.searchbar {
    width: auto;
    display: inline-flex;
}

.form-check-inline {
    display: inline-flex;
}

.form-group {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.form-check-input {
    margin-right: 5px;
}

table {
    width: 90% !important;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

th {
    font-size: 1.5rem;
    background-color:rgba(50,50,50,1) !important;
}

form {
    width: 80%;
    margin: auto; 
}

textarea {
    width: 100% !important;
}

form>.btn {
    margin-right: 5px;
} 

.details {
    display: flex;
    /* width: 300px; */
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    width: 80%;
    height: 20rem;
    margin: 50px;
    background-color:rgba(50,50,50,1);
    border-image: linear-gradient(0.25turn, deeppink,  crimson) 1 !important;
    padding: 10px;
}

.innercontainer {
object-fit: cover;
/* border: 1px solid white; */
height: 95%;
width: auto;
margin: 0;
}

.detailsimg {
    object-fit: cover;
    height: 100%;
    width: 90%;
    padding: 0;
    border-radius: 10%;
    border: 1px solid white;
    margin: 8px;
}

.innertext {
    justify-content: center;
    align-items: center;
}

 .right {
    justify-content: flex-end !important;
    display: flex;
}

.cardcolcenter {
    justify-content: space-between;
    align-items: flex-end;
    display: inline-flex;
}

#cardcontainer {
    margin: 15px 15px 0 15px;
}

.card {
    width: 16rem;
    margin: 15px 15px;
}